<div ng-if="!detail.editing">
<h2> {{ detail.user.name }}</h2>
<h3> {{ detail.user.email }}</h3>
<!-- <h3> {{ detail.user.favorites[0].clickUrl}} </h3> -->
<!-- <p>  {{detail.user}}</p> -->
<button ng-click="detail.edit()">Edit</button>

<h1 class="center-align">My Favorites</h1>

<div class="row">


  <div class="card" ng-repeat="c in detail.user.favorites" style="max-width: 200px; display: inline-block; max-height: 400px; margin-right: 7px">
    <div class="card-image" style="height:150px">
        <a href="{{c.clickUrl}}"><img style="width: 100%; height: auto; max-height:100%; cursor:pointer" ng-src="{{c.imgUrl}}"></a>
    </div>
    <div class="card-content">
      <p>{{c.brandedName}}</p>
      <p>{{c.priceLabel}}</p>
    </div>
    <div class="card-action">
      <a href="{{c.clickUrl}}">Buy</a>
      <i class="small material-icons">star_border</i>
      <button ng-click="main.favorite(c)">FAV</button>
    </div>
  </div>

</div> <!--end row -->







</div>


<form ng-if="detail.editing" ng-submit="detail.update()">
  <input ng-model="detail.editingUser.name" type="text" placeholder="name">
  <input ng-model="detail.editingUser.email" type="text" placeholder="email">
  <button type="submit">Update User!</button>
  <button ng-click="detail.editing=false">Cancel</button>
</form>
