<h1>Men's Clothes</h1>


<div class="row">


    <div class="card" ng-repeat="c in main.allItems" style="max-width: 200px; display: inline-block; max-height: 400px; margin-right: 7px">
      <div class="card-image" style="height:180px">
          <a href="{{c.clickUrl}}"><img style="width: 100%; height: auto; max-height:100%; cursor:pointer" ng-src="{{c.alternateImages[0].sizes.Best.url}}"></a>
      </div>
      <div class="card-content">
        <p>{{c.brandedName}}</p>
        <p>{{c.priceLabel}}</p>
      </div>
      <div class="card-action">
        <a href="{{c.clickUrl}}">Buy This Product!</a>
      </div>
    </div>


</div> <!--end row -->
